__pycache__/
*.pyc
backups/
queue_state.json
settings.json
scan_cache.db
*.tar.gz
.claude/
*.db-shm
*.db-wal
bin/
dist/
build/
*.spec
rrp/target/
rrp/rrp-client/
rrp/rrp-server/
rrp-server.log
remote-gpu/
requirements.txt
venv/
lib/
mac-app/
macos/
